# Xcode
*.xcworkspace/
*.xcuserdata/
*.xcuserstate
*.xcodeproj/project.xcworkspace/

# Swift Package Manager
.build/
.swiftpm/xcode/package.xcworkspace/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/docs

# Other
DerivedData/
.DS_Store
*.hmap
xcuserdata

